@font-face {
  font-family: 'Csgordon';
  src: url(font/CSGordonRegular-BF64acb56bce100.otf);
}
@font-face {
  font-family: 'betmrounded';
  src: url(font/BetmRounded-MediumItalic.ttf);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.navbar {
  width: 300px;
  background-color: #000000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.top-box {
  width: 250px;
  height: 250px;
  background-color: #231C1C;
  border-radius: 20px;
  margin: 0 auto;
}

.menu {
  margin-top: 20px;
}

.nav-button {
  display: block;
  width: 236px;
  height: 51px;
  line-height: 51px;
  text-align: center;
  background-color: #444;
  color: white;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #555;
}

.hamburger-menu {
  display: none;
  background-color: #000000;
  color: white;
  padding: 15px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.content {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100vh; /* Ensure the content area covers the full height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling within the content area */
  background-color: #231c1c; /* Background color behind the image */
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 89;
}

@media (max-width: 768px) {
  .navbar {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  .mobile-menu .nav-button {
      width: 90%;
      margin: 10px auto;
  }
  .content {
      margin-left: 0;
      width: 100%;
      height: calc(100vh - 70px); /* Adjusting for hamburger menu height */
      padding: 0;
  }
  .main-image {
      height: 100%;
  }
}
.work {
  font-family: 'Csgordon';
  color:#d3d3d3;
  position: absolute; /* Set position to absolute */
  top: 50%; /* Position the text at the vertical center */
  left: 40%; /* Position the text at the horizontal center */
  transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
  z-index: 100; /* Ensure the text is above the image */
  font-size: 50px;
}
.error {
  font-family:'betmrounded';
  color:#da3d3b;
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 180px;
}